/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2014, 5:40:58 PM
    Author     : Jon
*/

.riddle{
    border: 5px yellow ridge;
    padding: 2px;
    margin: 2px;
    color: yellow;
    background-color: black;
    font-size: 15px;
    margin-bottom: 5px;
}
html{
    background-color:black;
}
