#wrapper{
        border:2px solid red;
        margin: auto;
        position:relative;
        //position: absolute;
        
}

#controlbox{
        border: 2px solid blue;
        clear: both;
        position: relative;
        margin: auto;
        width: 560px;
        height: 100px;
}

#content{
        border: 2px solid green;
        background-image: url(images/target.png);
        background-repeat:no-repeat;
        height:560px;
        width: 562px;
        position: relative;
        margin:auto;
        
        //margin-left: 600px;
        //margin-top: 50px;
    
}

#shoot {
	background-image:url(images/shootbtn.jpg);
	width:100px;
	height:30px;
	border:none;
	cursor:pointer;
        position: relative;
        float:left;
        //margin-left: 600px;
}

#reload {
	background-image:url(images/reloadbtn.jpg);
	width:100px;
	height:30px;
	border:none;
	cursor:pointer;
        position:relative;
        float:right;
        //margin-right: 740px;
}

#clip {
        float: left;
        position:relative;
        
    
}

#bullets {
        float: right;
        position: relative;
        
}

.button {
        margin-top: 10px;
        display:block;
}